.editor {
	height: 100%;
	background-color: #15161a;
}

.editor-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #1e1f23;
}

.editor-header-icons {
	padding-right: 1.6rem;
}

.editor-header-icons > * {
	cursor: pointer;
	color: #ccc;
}

.editor-title {
	font-size: 1.2rem;
	letter-spacing: 0.2rem;
	padding: 1rem;
	display: inline-block;
}

.text-editor {
	display: block;
	width: 100%;
	height: calc(100% - 37px);
	resize: none;
	background-color: inherit;
	padding: 1.6rem max(calc((100% - 99rem) / 2), 2.4rem);
	font-size: 2rem;
	border: none;
	border-radius: 0;
	color: white;
}

.text-editor:focus-visible {
	outline: none;
}

/*
 -- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

-- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
 */
